<form class="formbox">
    <div class="Formname text-decoration-underline fw-bolder fs-3">Employee Form</div><br>
    <div class="mb-3">
      <label for="Name" class="form-label">Name</label>
      <input type="text" class="form-control" id="Name">
    </div>
    <div class="mb-3">
        <label for="Designation" class="form-label">Designation</label>
        <input type="text" class="form-control" id="Designation">
    </div>
    <div class="mb-3">
        <label for="Location" class="form-label">Location</label>
        <input type="text" class="form-control" id="Location">
    </div>
    <div class="mb-3">
        <label for="Salary" class="form-label">Salary</label>
        <input type="text" class="form-control" id="Salary">
    </div><br>
    <button type="submit" class="btn btn-primary"><i class="bi bi-person-plus"></i> Add</button>
</form>
